.input_container,
.message_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input_container input,
.message_container textarea {
  border: 0.1rem solid hsl(186, 15%, 59%);
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 0.4rem;
}

.input_container input:focus,
.input_container input:hover,
.message_container textarea:focus,
.message_container textarea:hover {
  border: 0.1rem solid hsl(169, 82%, 27%);
}

.input_container label span,
.message_container label span {
  margin-left: 0.6rem;
}

.input_container input {
  height: 3rem;
  padding: 1rem 1.25rem;
}

.message_container textarea {
  height: 6rem;
  padding: 0.8rem 1rem;
}
