#success_message {
    background-color: hsl(187, 24%, 22%);
    color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    max-width: 30rem;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    border-radius: .4rem;
}

#success_message header {
    display: flex;    
    gap: .6rem;
    margin-bottom: .8rem;
}

#success_message header h2 {
    font-size: 1rem;
}

#success_message p {
    font-size: .9rem;
    font-weight: 400;
}